#:schema node_modules/wrangler/config-schema.json
name = "quick-tempmail-backend"
main = "src/worker.ts"
compatibility_date = "2023-08-14"

# 数据库绑定设置
[[d1_databases]]
binding = "DB" # 代码中通过 env.DB 调用，不要修改这个名字
database_name = "prod-d1-tutorial" # 你在 Cloudflare 创建的数据库名
database_id = "7edf2c4d-98be-4540-9b64-f5a287240d85" # 👈 必须替换！

[vars]
# 这里的域名要改为你最终想用的域名，用于跨域许可
ALLOWED_ORIGINS = "*"
